.customize-area {
  padding: 50px 10px;
  background-repeat: no-repeat;
  background-position: 0 -70px;
  background-size: 150px;
  height: 730px;
  max-height: 730px;
}

.btn-next,
.btn-next:hover,
.btn-next:visited,
.btn-next:active {
  text-decoration: none;
  color: black;
  padding: 0;
  font-size: 1em;
}

.avatar-preview {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  margin: 0 auto;
}

.avatar-mini-options,
.avatar-mini-options-last {
  width: 60px;
  margin-right: 5px;
  border: 1px solid rgb(214, 214, 214);
}

.avatar-mini-options {
  margin-right: 0;
}

#avatar_eyes_selected_step_2 {
  position: absolute;
  top: 195px;
  left: 570px;
  width: 300px;
  height: 300px;
}

@media (max-width: 575.98px) {
  .img-form {
    position: absolute;
    top: -60px;
    left: 5%;
    width: 145px;
    z-index: 99;
  }

  #avatar_eyes_selected_step_2 {
    position: absolute;
    top: 195px;
    left: 45px;
    width: 300px;
    height: 300px;
  }
}
