.customize-area,
.col-avatar-step-success {
  padding: 50px 10px;
  height: 750px;
  max-height: 750px;
}

.col-avatar-step-1,
.col-avatar-step-2,
.col-avatar-step-3,
.col-avatar-step-4,
.col-avatar-step-5,
.col-avatar-step-success {
  background-repeat: no-repeat;
  background-position: 0 -70px;
  background-size: 150px;
}

.col-avatar-step-1 {
  background-image: url("../images/avatar/avatar-form-step-1.png");
}

.col-avatar-step-2 {
  background-position: 0 540px;
  background-image: url("../images/avatar/avatar-form-step-2.png");
}

.col-avatar-step-3 {
  background-position: 220px -105px;
  background-image: url("../images/avatar/avatar-form-step-3.png");
}

.col-avatar-step-4 {
  background-position: 220px 670px;
  background-image: url("../images/avatar/avatar-form-step-4.png");
}

.col-avatar-step-5 {
  background-position: 220px -40px;
  background-image: url("../images/avatar/avatar-form-step-5.png");
}

.col-avatar-step-success {
  background-position: 220px -56px;
  background-image: url("../images/avatar/avatar-form-step-success.png");
}

.btn-next,
.btn-next:hover,
.btn-next:visited,
.btn-next:active {
  text-decoration: none;
  color: black;
  padding: 0;
  font-size: 1em;
}

.avatar-preview {
  width: 306px;
  height: 306px;
  border: 2px solid black;
  margin: 0 auto;
}

.avatar-mini-options,
.avatar-mini-options-last {
  width: 60px;
  margin-right: 5px;
  border: 1px solid rgb(214, 214, 214);
}

.avatar-mini-options {
  margin-right: 0;
}

.avatar-body-selected,
.avatar-eyes-selected,
.avatar-accessory-selected,
.avatar-badge-selected,
.avatar-background-selected {
  position: absolute;
  top: 197px;
  left: 570px;
  width: 300px;
  height: 300px;
}

@media (max-width: 575.98px) {
  .img-form {
    position: absolute;
    top: -60px;
    left: 5%;
    width: 145px;
    z-index: 99;
  }

  .avatar-body-selected,
  .avatar-eyes-selected,
  .avatar-accessory-selected,
  .avatar-badge-selected,
  .avatar-background-selected {
    position: absolute;
    top: 197px;
    left: 45px;
    width: 300px;
    height: 300px;
  }

  .customize-area {
    padding: 50px 10px;
    height: 730px;
    max-height: 730px;
  }
}
