@font-face {
  font-family: "adineue PRO Bold";
  src: url("../fonts/adineue-pro-bold.eot"); /* IE9*/
  src: url("../fonts/adineue-pro-bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/adineue-pro-bold.woff2") format("woff2"),
    /* chrome、firefox */ url("../fonts/adineue-pro-bold.woff") format("woff"),
    /* chrome、firefox */ url("../fonts/adineue-pro-bold.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("../fonts/adineue-pro-bold.svg#adineue PRO Bold") format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "AdihausDIN";
  src: url("../fonts/adihaus-din.eot"); /* IE9*/
  src: url("../fonts/adihaus-din.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/adihaus-din.woff2") format("woff2"),
    /* chrome、firefox */ url("../fonts/adihaus-din.woff") format("woff"),
    /* chrome、firefox */ url("../fonts/adihaus-din.ttf") format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("../fonts/adihaus-din.svg#AdihausDIN") format("svg"); /* iOS 4.1- */
}
