body {
  font-family: "AdihausDIN" !important;
  font-size: 1.2em;
}

h1,
h2,
h3 {
  font-family: "adineue PRO Bold" !important;
}

h1 {
  font-size: 2em;
}

.img-clicked {
  border: 2px solid black;
}
