body {
  font-family: "AdihausDIN" !important;
  font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-titles {
  font-family: "adineue PRO Bold" !important;
}

.font-paragraphs {
  font-family: "AdihausDIN" !important;
}

h1 {
  font-size: 2em;
}

.img-clicked {
  border: 2px solid black;
}

.btn-link,
.btn-link:hover,
.btn-link:visited,
.btn-link:link,
.btn-link:active {
  color: black;
  text-decoration: none;
  font-size: 1em;
}
