body {
  padding-top: 76px;
}

.menu-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1100;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 1);
  overflow-x: hidden;
  transition: 0.5s;
  font-family: "adineue PRO Bold" !important;
}

.menu-overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  padding-left: 40px;
}

.menu-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.menu-overlay a:hover,
.menu-overlay a:focus {
  color: #f1f1f1;
}

.menu-overlay .closebtn {
  font-family: "AdihausDIN" !important;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.btn-open-menu,
.btn-open-menu:hover,
.btn-open-menu:visited,
.btn-open-menu:active,
.btn-open-menu:link {
  color: black;
}

.user-avatar-property {
  position: absolute;
  top: 15px;
  right: 20px;
  height: 45px;
}

.user-avatar-preview-img {
  position: absolute;
  top: 280px;
  left: 515px;
  height: 400px;
}

.avatar-preview {
  height: 440px;
}

.btn-link-menu:hover,
.btn-link-menu:active,
.btn-link-menu:visited,
.btn-link-menu:link,
.btn-link-menu {
  color: black;
  text-decoration: none;
  font-size: 36px;
  padding: 0;
}

a.link-submenu,
a.link-extra-material {
  font-size: 20px;
  font-family: "AdihausDIN" !important;
  color: black;
  text-decoration: none;
}

.extra-material-area,
.extra-material-area-landing {
  background-image: url("../images/green-form.png");
  background-repeat: no-repeat;
  background-size: 180px;
}

.extra-material-area {
  background-position-x: right;
  padding: 50px 40px 50px 0;
}

.extra-material-area-landing {
  padding: 60px 40px 60px 0;
}

/* landing index */

main.bg-landing {
  background-image: url("../images/bg/bg-home-desktop.jpeg");
  width: 100%;
}

a.btn-link-landing-index,
a.btn-link-landing-index:link {
  font-family: "adineue PRO Bold" !important;
  font-size: 1.9em;
  text-align: left;
  padding: 0;
}

/*  */

/* schedule */

table.schedule-table {
  text-transform: uppercase;
  border: none;
  width: 100%;
  border-collapse: separate;
  border-spacing: 3px 5px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 40px;
}

table.schedule-table td {
  padding: 5px 10px;
}

table.schedule-table td:last-child {
  border-right-width: 0;
}

.schedule-card-body {
  font-family: "adineue PRO Bold" !important;
}

.schedule-bg-gray {
  background-color: #f2f2f2;
}

.schedule-font-10-px {
  font-size: 10px;
}

.schedule-right-column {
  text-align: center;
}

.schedule-font-14-px {
  font-size: 14px;
}

.schedule-bg-green {
  background-color: #a2ee90;
}

.schedule-bg-yellow {
  background-color: #f9d949;
}

.schedule-bg-pink {
  background-color: #ec88cb;
}

.schedule-bg-orange {
  background-color: #da9472;
}

a.btn-border-black {
  border-color: black !important;
}

/*  */

/* experiencies */

main.bg-experiences {
  background-image: url("../images/bg/bg-experiences-desktop.jpeg");
  height: 88vh;
  width: 100%;
}

.experience-sports,
.experience-business,
.experience-connect {
  background-repeat: no-repeat;
  background-size: 70px;
  padding: 30px 0 40px 30px;
}

.experience-sports {
  background-image: url("../images/blue-form.png");
}

.experience-business {
  background-image: url("../images/orange-form.png");
}

.experience-connect {
  background-image: url("../images/green-form.png");
}

a.experience-link,
a.experience-link:hover {
  color: black;
  text-decoration: none;
  font-size: 28px;
}

.star-selected {
  color: #f4da65;
}

/*  */

/* more */

main.bg-more {
  background-image: url("../images/bg/bg-more-desktop.jpeg");
  height: 88vh;
  width: 100%;
}

/*  */

/* extras */

main.bg-extras {
  background-image: url("../images/bg/bg-extras-desktop.jpeg");
  height: 88vh;
  width: 100%;
}

.extras-card-body {
  font-family: "adineue PRO Bold" !important;
}

.extras-photos,
.extras-archives {
  background-repeat: no-repeat;
  background-size: 110px;
  padding: 45px 0 60px 30px;
}

.extras-photos {
  background-image: url("../images/register-pink-form.png");
}

.extras-archives {
  background-image: url("../images/login-yellow-form.png");
}

a.extras-link,
a.extras-link:hover {
  color: black;
  text-decoration: none;
  font-size: 32px;
}

/*  */

@media screen and (max-height: 450px) {
  .menu-overlay a {
    font-size: 20px;
  }
  .menu-overlay .closebtn {
    font-family: "AdihausDIN" !important;
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media (max-width: 575.98px) {
  .user-avatar-preview-img {
    position: absolute;
    top: 216px;
    left: 45px;
    height: 300px;
  }

  .bg-landing {
    background-image: url("../images/bg/bg-home-mobile.jpeg");
    height: 88vh;
  }

  main.bg-experiences {
    background-image: url("../images/bg/bg-experiences-mobile.jpeg");
    height: 92vh;
    width: 100%;
  }

  main.bg-more {
    background-image: url("../images/bg/bg-more-mobile.jpeg");
    height: 100%;
    width: 100%;
  }

  main.bg-extras {
    background-image: url("../images/bg/bg-extras-mobile.jpeg");
    height: 88vh;
    width: 100%;
  }
}

@media (min-width: 1199px) {
  .bg-landing {
    height: 91vh;
  }

  .bg-landing-welcome {
    background-image: url("../images/bg/bg-extras-desktop.jpeg");
    height: 90vh;
    width: 100%;
  }

  h1.landing-welcome-title {
    font-size: 2.5em;
    margin-top: 110px;
    padding-left: 40px;
  }

  .user-avatar-preview-img {
    top: 40px;
  }

  h1.schedule-index-title {
    margin: 30px 0;
  }

  a.link-extra-material {
    font-size: 18px;
    font-family: "AdihausDIN" !important;
    color: black;
    text-decoration: none;
  }

  .extra-material-area-landing {
    background-size: 175px;
  }

  .extra-material-area {
    padding: 55px 40px 55px 0;
  }
}
