body {
  padding-top: 105px;
}

.menu-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1100;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 1);
  overflow-x: hidden;
  transition: 0.5s;
  font-family: "adineue PRO Bold" !important;
}

.menu-overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  padding-left: 40px;
}

.menu-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.menu-overlay a:hover,
.menu-overlay a:focus {
  color: #f1f1f1;
}

.menu-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.btn-open-menu,
.btn-open-menu:hover,
.btn-open-menu:visited,
.btn-open-menu:active,
.btn-open-menu:link {
  color: black;
}

.user-avatar-property {
  position: absolute;
  top: 25px;
  right: 20px;
  height: 45px;
}

.user-avatar-preview-img {
  position: absolute;
  top: 280px;
  left: 515px;
  height: 400px;
}

.avatar-preview {
  height: 440px;
}

.btn-link-menu:hover,
.btn-link-menu:active,
.btn-link-menu:visited,
.btn-link-menu:link,
.btn-link-menu {
  color: black;
  text-decoration: none;
  font-size: 36px;
  padding: 0;
}

a.link-submenu,
a.link-extra-material {
  font-size: 20px;
  font-family: "AdihausDIN" !important;
  color: black;
  text-decoration: none;
}

.extra-material-area,
.extra-material-area-landing {
  background-image: url("../images/green-form.png");
  background-repeat: no-repeat;
  background-size: 180px;
}

.extra-material-area {
  background-position-x: right;
  padding: 50px 40px 50px 0;
}

.extra-material-area-landing {
  padding: 60px 40px 60px 0;
}

/* landing index */

main.bg-landing {
  background-image: url("../images/bg/bg-home-desktop.jpeg");
  height: 88vh;
  width: 100%;
}

a.btn-link-landing-index,
a.btn-link-landing-index:link {
  font-family: "adineue PRO Bold" !important;
  font-size: 1.9em;
  text-align: left;
  padding: 0;
}

/*  */

/* schedule */

.schedule-card-body {
  font-family: "adineue PRO Bold" !important;
}

.schedule-bg-gray {
  background-color: #f2f2f2;
}

.schedule-left-column {
  font-size: 10px;
}

.schedule-right-column {
  font-size: 14px;
  text-align: center;
}

.schedule-bg-green {
  background-color: #a2ee90;
}

.schedule-bg-yellow {
  background-color: #f9d949;
}

.schedule-bg-pink {
  background-color: #ec88cb;
}

a.btn-border-black {
  border-color: black !important;
}

/*  */

@media screen and (max-height: 450px) {
  .menu-overlay a {
    font-size: 20px;
  }
  .menu-overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media (max-width: 575.98px) {
  .user-avatar-preview-img {
    position: absolute;
    top: 280px;
    left: 45px;
    height: 300px;
  }

  .bg-landing {
    background-image: url("../images/bg/bg-home-mobile.jpeg");
    height: 88vh;
  }
}
