main {
  background-image: url("../images/bg/bg-home-desktop.jpeg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  padding-top: 110px;
}

.event-title {
  text-align: center;
  margin-bottom: 90px;
  margin-top: 50px;
}

.event-title h1 {
  font-size: 68px;
  margin-bottom: -15px;
}

.event-title h2 {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 0px;
}

.event-title h3 {
  font-size: 38px;
  margin-top: -5px;
}

.form-control-email-alias {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  text-align: center;
  font-size: 1em;
}

.btn-login {
  text-decoration: none;
  color: black;
  padding: 0;
  font-size: 1em;
}

form {
  margin-bottom: 90px;
}

.link-register {
  color: black;
  text-decoration: none;
}

.card-img-bottom {
  position: absolute;
  bottom: -10px;
  left: -12px;
  width: 30%;
}

@media (max-width: 575.98px) {
  main {
    padding-top: 90px;
    background-image: url("../images/bg/bg-home-mobile.jpeg");
  }
}
